<a href="https://colab.research.google.com/github/Jangsuji/Algorithm-Study/blob/master/Algorithm-Study/Intermediate/List1/min-max.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## min max

N개의 양의 정수에서 가장 큰 수와 가장 작은 수의 차이를 출력하시오.


[입력]

첫 줄에 테스트 케이스의 수 T가 주어진다. ( 1 ≤ T ≤ 50 )

각 케이스의 첫 줄에 양수의 개수 N이 주어진다. ( 5 ≤ N ≤ 1000 )

다음 줄에 N개의 양수 ai가 주어진다. ( 1 ≤ ai≤ 1000000 )

[출력]

각 줄마다 "#T" (T는 테스트 케이스 번호)를 출력한 뒤, 답을 출력한다.

[입력]

  3

  5

  477162 658880 751280 927930 297191

  5

  565469 851600 460874 148692 111090

  10

  784386 279993 982220 996285 614710 992232 195265 359810 919192 158175

[출력]
  #1 630739
  #2 740510
  #3 838110

In [3]:
test_case = int(input())
data_dict = []

for i in range(test_case):
  number = int(input())
  data_list = list(map(int, input().split()))
  results = max(data_list) - min(data_list)
  data_dict.append((i,results))

data_dict = dict(data_dict)
for key, value in data_dict.items():
  print("#{0} {1}".format(key+1, value))

3
5
477162 658880 751280 927930 297191
5
565469 851600 460874 148692 111090
10
784386 279993 982220 996285 614710 992232 195265 359810 919192 158175
#1 630739
#2 740510
#3 838110